<html>
  <head>
    <title>Warmup Generator - First Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Warmup Generator</h1>
      <br>
      <h4> How many minutes can you warmup today? </h4>
      <form action="" method="post">
        <input type="text" placeholder="Minutes" name="username" value="{{
          request.form.username }}">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
        <h1>Welcome to Flask!</h2>
        <br>
        <p>Click <a href="/">here</a> to go home.</p>
    </div>
  </body>
</html>





